@page
@model AboutModel
@{
    ViewData["Title"] = "Το Εστιατόριο";
    ViewData["Description"] = "Σχετικά με μας";
    ViewData["ShowPageTitle"] = true;
}

<div class="about-container container py-50">
    <div class="section-about">
        <div class="left-side">
            <h2>@Localizer["Απολαυστικές γεύσεις στο κέντρο της Αθήνας"]</h2>
            <p class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer leo orci, semper vitae blandit a, consequat eget ante. Duis et.</p>
            <p class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam congue est ac dapibus ultricies. Maecenas eget rutrum lacus. Proin imperdiet libero sit amet dictum vehicula. Sed nec mi vel ex pellentesque ornare eget quis massa. Proin bibendum magna ex, et dignissim nisl tincidunt ac. Fusce malesuada facilisis venenatis. Sed iaculis vel dolor eget pharetra. Aliquam auctor, purus at rutrum eleifend, velit leo accumsan metus, vitae consectetur mi quam sit amet magna. Nam tempus velit id velit fermentum eleifend. Nullam sit amet iaculis velit. Nulla eget dui vel lorem vestibulum lacinia. Duis porta arcu eget sem sollicitudin, congue tempus odio placerat.
            </p>
        </div>
        <div class="right-side">
            <img src="/images/about1.jpg" alt="Restaraunt photo" />
        </div>
    </div>
</div>