@page
@model CookiesModel
@{
    ViewData["Title"] = "Cookies Policy";
}

<div class="cookies-container container py-50">
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's cookies policy.</p>
</div>