@page
@model TermsModel
@{
    ViewData["Title"] = "Terms of Use";
}

<div class="terms-container container py-50">
    <h1>@ViewData["Title"]</h1>
    <p>Use this page to detail your site's terms of use.</p>
</div>
