@import "_variables.scss";

.btn {
    padding: 12px 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    background: inherit;
    color: $color-black;
    cursor: pointer;
    border-radius: 0.25rem;
    border: 2px solid transparent;
    transition: color .2s ease-in-out, background .2s ease-in-out, border-color .2s ease-in-out;

    svg {
        width: 18px;
        height: 18px;
        margin-left: 5px;
    }
}

.btn-primary {
    background-color: $color-primary;
    border-color: $color-primary;
    color: white;

    &:hover {
        color: white;
        background-color: darken($color-primary, 10%);
        border-color: darken($color-primary, 10%);
    }
}

.btn-primary-outlined {
    color: $color-primary;
    border-color: $color-primary;

    &:hover {
        color: white;
        background-color: $color-primary;
        border-color: $color-primary;
    }
}

.btn-secondary {
    background-color: $color-black;
    border-color: $color-black;
    color: white;

    &:hover {
        color: white;
        background-color: darken($color-secondary, 10%);
        border-color: darken($color-secondary, 10%);
    }
}

.btn-secondary-outlined {
    color: $color-black;
    border-color: $color-black;

    &:hover {
        color: white;
        background-color: $color-secondary;
        border-color: $color-secondary;
    }
}
