@model MenuViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class="card mt-3">
    <div class="card-body">
        <form asp-action="Create" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-12">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-12">
                <div class="form-check">
                    <input asp-for="IsPublished" class="form-check-input" checked="checked" />
                    <label asp-for="IsPublished" class="form-check-label"></label>
                </div>
            </div>
            <div class="col-12">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-light" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
