<ul class="nav nav-tabs language-nav-tabs mt-0" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="default-tab" data-bs-toggle="tab" data-bs-target="#default-tab-pane" type="button" role="tab" aria-controls="default-tab-pane" aria-selected="true">Default</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="english-tab" data-bs-toggle="tab" data-bs-target="#english-tab-pane" type="button" role="tab" aria-controls="english-tab-pane" aria-selected="false">English</button>
    </li>
</ul>