@import "base/_variables.scss";
@import "base/_reset.scss";
@import "base/_typography.scss";
@import "base/_utilities.scss";
@import "base/_components.scss";
@import "base/_tables.scss";
@import "base/_forms.scss";
@import "layout/_sidebar.scss";
@import "pages/_auth.scss";
@import "pages/_dashboard.scss";
@import "pages/_recommendations.scss";
@import "pages/_reservations.scss";

.app {
    display: flex;
}

.main-content {
    flex-grow: 1;
    padding: 20px 50px;
    height: 100vh;
    overflow-y: auto;
}

@media screen and (max-width: 991.98px) {
    .app {
        flex-direction: column;
    }

    .main-content {
        height: 100%;
        padding: 20px 30px;
    }
}