@page
@model RegisterModel
@{
    ViewData["Title"] = "Sign up";
}

<div class="card" style="max-width: 410px">
    <div class="card-body">
        <h1>@ViewData["Title"]</h1>
        <p>Create a new account.</p>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-12">
                <div class="alert alert-warning" role="alert">
                    Disabled for security reasons.
                </div>
            </div>
            <div class="col-12 mt-0">
                <label asp-for="Input.FullName" class="form-label"></label>
                <input asp-for="Input.FullName" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="Input.Password" class="form-label"></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="col-12">
                <button id="registerSubmit" type="submit" class="mt-2 w-100 btn btn-primary disabled">Sign up</button>
            </div>
            <div>
                <p class="fs-14">
                    Already have an account?
                    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Sign in</a>
                </p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
