// Body
$body-font-family: 'Open Sans', sans-serif;
$body-font-size: 1rem;
$body-font-weight: 400;

// Colors
$color-gray-light: #bababa;
$color-gray-dark: #555;
$color-border-light: #e5e5ea;
$dropdown-border-color: #dfdfdf;

// Headers font sizes
$h1-font-size: 2rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;
